{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="{% static '/style.css' %}">
    
    <title>Glad i Bad</title>
</head>
<body style="{% if state == 1 %} background-color:Tomato {% elif state == 0 %} background-color:MediumSeaGreen {% endif %}">
    {% block content %}
    
    {% endblock %}
    <div class="footer" style="font-family:courier; text-align:center; font-size:70%">
        Copyright &copy; NH Solutions 2019
    </div>
</body>
</html>