{% extends 'base.html' %}


{% block content %}

<h1 class="state">Flere stats</h1>
<p class="updated">Baseret på {{requested_entries}} ({{number_of_entries}}) besøg</p>

<br>

<h3 class="status">Gennemsnitslig badelængde</h3>

<table align="center" id="stats">
<tr>
    <th></th>
    <th>00-03</th>
    <th>03-06</th>
    <th>06-09</th>
    <th>09-12</th>
    <th>12-15</th>
    <th>15-18</th>
    <th>18-21</th>
    <th>21-00</th>
</tr>

<tr>
    {% for weekday in avgs %}
        {% for day in weekday %}
            {% for time in day %}
                {% if time == 'Mandag' or time == 'Tirsdag' or time == 'Onsdag' or time == 'Torsdag' or time == 'Fredag' or time == 'Lørdag' or time == 'Søndag'%}
                    <th>{{time}}</th>
                {% else %}
                <td> {% for color in colors %} <font color=color> {% endfor %} {{time}}</font></td>
                {% endif %}
            {% endfor %}
        {% endfor %}
</tr>
    {% endfor %}
    
</table>

<br>

<p class="status">Generelt er det travleste tidspunkt på dagen tidsrummet fra {{most_busy_periode}}</p>
<p class="status">Det travleste tidspunkt på ugen er {{most_busy_time}}</p>




{% endblock %}