{% extends 'base.html' %}


{% block content %}

<h1 class="state">Seneste {{requested_entries}} besøg</h1>

<table align="center" id="stats">
<tr>
    <th>Tændt</th>
    <th>Slukket</th>
    <th>Varighed</th>
</tr>
{% for time_duration in times_durations %}
    <tr>
        <td>{{time_duration.0|date:"d M Y"}} {{time_duration.0|time:"H:i:s"}}</td>
        <td>{{time_duration.1|date:"d M Y"}} {{time_duration.1|time:"H:i:s"}}</td>
        <td>{{time_duration.2}}</td>
    </tr>
{% endfor %}
</table>

<br>



{% endblock %}