{% extends 'base.html' %}


{% block content %}

<h1 class="state">Stats</h1>

<p class="status">Seneste 10 besøg:</p>

<table align="center" id="stats">
<tr>
    <th>Tændt</th>
    <th>Slukket</th>
</tr>
{% for timestamp in timestamps %}
    <tr>
        {% if timestamp.state == 1 %}
            <td>{{timestamp.timestamp}}</td>
            <td></td>
        {% else %}
            <td></td>
            <td>{{timestamp.timestamp}}</td>
        {% endif %}
    </tr>


{% endfor %}
</table>

{% endblock %}