{% extends 'base.html' %}


{% block content %}

<h1 class="state">Seneste 10 besøg</h1>

<table align="center" id="stats">
<tr>
    <th>Tændt</th>
    <th>Slukket</th>
</tr>
{% for timestamp in timestamps %}
    <tr>
        {% if timestamp.state == 1 %}
            <td>{{timestamp.timestamp|date:"d M Y"}} {{timestamp.timestamp|time:"H:i"}}</td>
            <td></td>
        {% else %}
            <td></td>
            <td>{{timestamp.timestamp|date:"d M Y"}} {{timestamp.timestamp|time:"H:i"}}</td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% endblock %}