{% extends 'base.html' %}

{% block content %}
<div>
    <h1 class="state">{{status}}</h1>
    <br>
    {% if state == 1 %}
    <p class="status">Har været optaget i {{time_passed}} {% if time_passed == 1 %} minut {% else %} minutter {% endif %}</p>

    <br>

    <div class="center">
      <a href="{% url 'notify_me' %}" class="button" onclick="myFunction()">Notify Me!</a>
    </div>
    
    <br>

    {% endif %}

    <br>

    <p class="updated">Siden er opdateret kl.{{current_time|time:"H:i"}}</p>

    <br>

    
    
    
</div>

<script>
  function myFunction() {
    alert("Du vil blive notificeret på Slack når lyset slukkes. Mvh Bademesteren");
  }
  </script>

{% endblock %}